canvas {
    background-image: url('https://streak.club/img/Mix1c2VyX2NvbnRlbnQvdXBsb2Fkcy9pbWFnZS8zMjYzMi5wbmc=/original/UNJhud.png');
    border: 1px solid black;
}

h1 {
    text-align: 'center';
    position: 'absolute';
    z-index: 5000;
    text-decoration: underline;
}